body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e2f;
  color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.section {
  background: #2b2b40;
  padding: 1rem 4rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-right: 160px;
}
h2 {
  color: #ffffff;
  font-size: 20px;
}
label {
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
button {
  background-color: #5757a9;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #3e3e71;
}
.option-register {
  font-size: 12px;
}
#login {
  color: #a7a7e1;
}
h3 {
  font-size: 30px;
  color: rgb(255, 230, 0);
  font-family: "Rubik Spray Paint", serif;
  font-weight: 200;
}
.forgot-your-password {
  opacity: 0.8;
  font-size: 10px;
  color: #a7a7e1;
}
.forgot-your-password-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}
.social-login {
  margin-top: 20px;
  margin-bottom: 80px;
}
.social-login button {
  background-color: #ffffff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.social-login img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
